__pycache__
**/__pycache__/
*.pyc
*.pyo

env/
venv/

pip-log.txt
pip-delete-this-directory.txt

.coverage
.coverage.*

.cache

*.log

.git
.gitignore
.gitkeep

.vscode

.env

Makefile
test_environment.py
setup.py
tox.ini

notebooks
data
docs

app/__pycache__
models/__pycache__
src/models
src/__init__.py
src/utils/__pycache__
